.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  @apply mx-0 my-4 tracking-tighter font-extrabold;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  @apply mx-0 my-4 tracking-tighter font-extrabold;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  @apply leading-6;
}

.borderCircle {
  @apply rounded-full;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}
